body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfaf5c7;
  font-size: 16px;
  line-height: 1.6;
}

label {
  font-weight: 700;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  text-align: center;
  flex: 1;
  flex-grow: 1;
}

h3 {
  margin-left: 0px;
}

h4 {
  text-align: center;
  flex: 1;
  flex-grow: 1;
}

.input_1 {
  margin-left: 25px;
}

.input-row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.input-row input {
  flex: 1;
  margin: 0 2%;
  font-size: 1.2em;
}

.date-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.date-input {
  flex: 0 0 50%;
  margin: 0 10px;
}

.date-input label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.date-input input {
  width: 75%;
  height: 25px;
  font-size: 1.2em;
  padding: 5px;
  box-sizing: border-box;
}

.frame {
  width: 90%;
  margin: 0px auto;
  text-align: center;
}

button {
  margin-bottom: 20px;
  margin-top: 20px;
}

.custom-btn {
  border-width: 1px;
  font-size: 16px;
  width: 30%;
  color: #000000;
  border-color: #858080;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-14 {
  background: rgba(188, 190, 188, 0.596);
  z-index: 1;
  font-size: 18px;
  font-weight: 700;
}

.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: rgba(59, 226, 129, 0.726);
  background-image: linear-gradient(315deg, #24e41daf 0%, #2ee77bb9 74%);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.btn-14:hover {
  color: #000;
}

.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

.btn-14:active {
  top: 2px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  width: 90%; /* Адаптивная ширина модального окна */
  max-width: 500px; /* Максимальная ширина */
  text-align: center;
  position: relative;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  color: #333;
}

.modal-message {
  font-size: 22px;
  margin: 20px 0;
}

.modal-button {
  padding: 12px 24px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.modal-button:hover {
  background-color: #218838;
}

.modal-button.cancel {
  background-color: red;
}

.custom-event {
  position: relative;
  background: #3174ad;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 60px;
  box-sizing: border-box;
}

.delete-button {
  background: rgba(255, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  margin-top: 10px;
}

.delete-button:hover {
  background: rgba(255, 0, 0, 0.9);
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid red;
  background-color: #ffe6e6;
  border-radius: 4px;
}

.logout-button {
  background-color: #c53030;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.event-form-container {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1.5s ease-in-out;
}

.event-form-container.visible {
  max-height: 500px;
}

.rbc-month-view .rbc-row-bg .rbc-day-bg.selectable-day:hover {
  background-color: rgba(255, 185, 72, 0.932) !important;
  transition: background-color 0.3s ease !important;
  cursor: pointer !important;
}

.active-day:hover {
  background-color: rgba(197, 231, 245, 0.836) !important;
  transition: background-color 0.3s ease !important;
  cursor: pointer !important;
}

.rbc-day-bg.highlighted-date {
  background-color: rgba(169, 217, 236, 0.836);
  transition: background-color 0.5s ease;
}

.past-day {
  background-color: rgba(230, 230, 230);
  cursor: not-allowed;
  pointer-events: none;
}

.btn-back {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #333333;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 8px 4px;
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 5px;
  min-width: 240px;
  box-sizing: border-box;
  line-height: 1.5;
}

.btn-back:hover {
  background-color: #ffffff;
  border-color: #ff9100;
  color: #ff9100;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.btn-back:active {
  background-color: #cccccc;
  border-color: #999999;
  box-shadow: none;
  transform: translateY(1px);
}

.btn-back:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #f0f0f0;
  border-color: #cccccc;
  color: #aaaaaa;
  box-shadow: none;
  transform: none;
}

.rbc-time-content .rbc-timeslot-group:hover {
  background-color: rgba(240, 173, 28, 0.836);
  cursor: pointer;
}

.rbc-time-content .rbc-timeslot-group {
  transition: background-color 0.2s ease;
}

.rbc-events-container {
  pointer-events: none;
}

.rbc-events-container .rbc-event {
  pointer-events: auto;
}

.rbc-time-header {
  display: none !important;
}

.rbc-event {
  padding: 10px;
  background-color: #3174ad;
  color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  line-height: 1.3;
  font-size: 18px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.rbc-event:hover {
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
}

.rbc-day-view .rbc-event,
.rbc-week-view .rbc-event {
  min-height: 20px;
  margin: 2px 1px;
}

.rbc-month-view .rbc-event {
  min-height: 80px !important;
  margin: 2px;
}

.header {
  position: sticky;
  top: 0;
  background-color: #d0e6f1;
  color: #000000;
  padding: 15px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header::before {
  content: "";
  width: 4%;
  flex-shrink: 0;
}

.header-title {
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  width: 200px;
  flex-shrink: 0;
  justify-content: flex-end;
}

.event-name {
  margin-right: 16px;
  font-size: 18px;
}

.rooms-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f8;
}

.rooms-grid-unique {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.loading-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f8;
}

.room-button {
  background-color: #d0e6f1;
  color: #2f5e94;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  padding: 30px 20px;
  margin: 8px;
  border-color: rgba(128, 128, 128, 0.479);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 250%;
}

.room-button:hover {
  background-color: #f5a623;
  color: white;
}

.room-list-button {
  padding: 10px 15px;
  background-color: #f5a623;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: auto;
  transition: background-color 0.3s;
}

.room-list-button:hover {
  background-color: #ff9d00;
}

.header-info {
  display: flex;
  align-items: center;
}

.logout-button:hover {
  background-color: #c82333b2;
}

.past-slot {
  background-color: rgba(230, 230, 230) !important;
  cursor: not-allowed !important;
}

.past-slot:hover {
  background-color: rgba(230, 230, 230) !important;
  cursor: not-allowed !important;
}

.rbc-day-slot .rbc-time-slot {
  border-top: none !important;
}

/* Media Queries для адаптивности */
@media (max-width: 999px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header-title {
    margin-bottom: 10px;
  }

  .header-info {
    width: 100%;
    justify-content: center;
  }

  .event-name {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .room-list-button {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .date-inputs {
    flex-direction: column;
    align-items: stretch;
  }

  .date-input {
    flex: 0 0 100%;
    margin: 5px 0;
    width: 100%;
  }

  .date-input input {
    width: 100%;
    height: 35px;
    font-size: 1.2em;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .frame {
    width: 90%;
    margin: 0px auto;
    text-align: center;
  }

  .custom-btn {
    border-width: 1px;
    font-size: 16px;
    width: 90%;
    color: #000000;
    border-color: #858080;
    border-radius: 5px;
    padding: 12px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }

  .rooms-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .room-button {
    width: 100%;
    font-size: 18px;
  }

  .rbc-month-view .rbc-event {
    min-height: 50px !important;
    font-size: 14px;
  }
    .modal-content {
    width: 95%; /* Максимальная ширина модального окна на мобильных */
    max-width: none; /* Убираем ограничение максимальной ширины */
  }

  .date-input input {
    width: 100%; /* Инпуты занимают всю ширину контейнера */
  }
}

.event-day .rbc-button-link {
  background-color: orange;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


.btn-help {
  background-color: rgba(250, 250, 250, 0.836) ; /* Light Blue */
  border: 1px solid #000000;
  color: #333333;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-flex; /* Changed to inline-flex */
  align-items: center; /* Vertically align icon and text */
  font-size: 20px;
  margin: 8px 4px;
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 5px;
  min-width: 240px;
  box-sizing: border-box;
  line-height: 1.5;
  position: relative; /* For pseudo-element positioning */
  overflow: hidden; /* Clip the pseudo-element */
}

.btn-help::before {
  content: "?"; /* Empty content */
  background-color: #3174ad; /* Dark Blue */
  color: white;
  width: 20%; /* 20% of the button width */
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.btn-help span {
  margin-left: 20%; /* Push the text to the right */
  display: block;
  width: 80%;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.btn-help:hover {
  background-color: rgba(255, 255, 255, 0.836);
  border-color: #ff9100;
  color: #ff9100;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.btn-help:active {
  background-color: rgba(255, 255, 255, 0.836);
  border-color: #999999;
  box-shadow: none;
  transform: translateY(1px);
}

.btn-help:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #f0f0f0;
  border-color: #cccccc;
  color: #aaaaaa;
  box-shadow: none;
  transform: none;
}

.input-error {
  border: 2px solid rgb(241, 96, 96);
  box-shadow: 0 0 5px red;
  background-color: #ffffff; /* Optional: Keep the red background */
}

.error-message {
  color: red;
  font-size: 14px;
  margin: 5px 0 0 0;
}
.highlighted-range {
  background-color: rgba(128, 128, 128, 0.3); /* пример цвета */
  color: black;
  border-radius: 0px;
  border: none;
}